<h1 class="text-center">Reset Your Password</h1>
<div id="okta-fp-container">
</div>
<script src="../js/okta-config.js"></script>
<script>
  const signInWidgetConfig = {
    flow: 'resetPassword',
    baseUrl: credentials.domain,
    useInteractionCodeFlow: true,
    clientId: credentials.clientId,
    redirectUri: window.location.origin + '/callback',
    authParams: {
      clientId: credentials.clientId,
      pkce: true,
    },
  };
  var fSignIn = new OktaSignIn(signInWidgetConfig);
  fSignIn.showSignInAndRedirect({
    el: '#okta-fp-container'
  }).catch(function(error) {
    // This function is invoked with errors the widget cannot recover from:
    // Known errors: CONFIG_ERROR, UNSUPPORTED_BROWSER_ERROR
    alert('Catch unknown errors here which widget does not support');
  });
</script>
